In [6]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

# Read the Parquet file
df = spark.read.parquet("working_data/Filtered_Fish_Data.parquet")

In [8]:
df.show(5)

+---------+----------+------------+--------------------+-----------------+----------------------+---------------------+-----------+--------+
|SURVEY_ID|SPECIES_ID|SPECIES_NAME|          LATIN_NAME|SURVEY_RANKED_NGR|SURVEY_RANKED_NORTHING|SURVEY_RANKED_EASTING|FISH_LENGTH|AGE_BAND|
+---------+----------+------------+--------------------+-----------------+----------------------+---------------------+-----------+--------+
|   111032|       196|        Rudd|Scardinius erythr...|     SE5530009200|                409200|               455300|        142|     >4+|
|    72230|       196|        Rudd|Scardinius erythr...|     SE7920071500|                471500|               479200|         29|      0+|
|    51949|       196|        Rudd|Scardinius erythr...|     SU5880008700|                108700|               458800|        157|      0+|
|    67760|       196|        Rudd|Scardinius erythr...|     TA0910054200|                454200|               509100|         30|      0+|
|   150298|       196|        Rudd|Scardinius erythr...|     TG4050021700|                321700|               640500|        143|       3|
+---------+----------+------------+--------------------+-----------------+----------------------+---------------------+-----------+--------+
only showing top 5 rows

In [14]:
df.printSchema()

root
 |-- SURVEY_ID: integer (nullable = true)
 |-- SPECIES_ID: integer (nullable = true)
 |-- SPECIES_NAME: string (nullable = true)
 |-- LATIN_NAME: string (nullable = true)
 |-- SURVEY_RANKED_NGR: string (nullable = true)
 |-- SURVEY_RANKED_NORTHING: long (nullable = true)
 |-- SURVEY_RANKED_EASTING: long (nullable = true)
 |-- FISH_LENGTH: integer (nullable = true)
 |-- AGE_BAND: string (nullable = true)

In [30]:
from pyspark.sql.functions import col

summary_data = []
for c in df.columns:
    total = df.select(c).count()
    uniques = df.select(c).distinct().count()
    summary_data.append((c, total, uniques))

# Print header
print(f"{'Column':<25} | {'Count of values':<15} | {'Unique Entries':<10}")
print("-" * 60)

# Print each line aligned
for col_name, total, uniques in summary_data:
    print(f"{col_name:<25} | {total:<15} | {uniques:<10}")

Column                    | Count of values | Unique Entries
------------------------------------------------------------
SURVEY_ID                 | 4915478         | 30550
SPECIES_ID                | 4915478         | 13
SPECIES_NAME              | 4915478         | 13
LATIN_NAME                | 4915478         | 12
SURVEY_RANKED_NGR         | 4915478         | 11884
SURVEY_RANKED_NORTHING    | 4915478         | 9183
SURVEY_RANKED_EASTING     | 4915478         | 9037
FISH_LENGTH               | 4915478         | 1019
AGE_BAND                  | 4915478         | 63