In [1]:
from pyspark.sql import SparkSession
import pandas as pd 

spark = SparkSession.builder.getOrCreate()

# Read CSV file
csv_df = spark.read.csv("raw_data/FW_Fish_Individual_Lengths.csv", header=True, inferSchema=True, multiLine=True)

csv_df.write.mode("overwrite").parquet("working_data/FW_Fish_Individual_Lengths.parquet")

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/07/05 13:09:13 WARN Utils: Your hostname, codespaces-6557a2, resolves to a loopback address: 127.0.0.1; using 10.0.0.203 instead (on interface eth0)
25/07/05 13:09:13 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/07/05 13:09:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

# Read the Parquet file
df = spark.read.parquet("working_data/FW_Fish_Individual_Lengths.parquet")

df.printSchema()
df.show(5)

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/07/05 13:48:34 WARN Utils: Your hostname, codespaces-6557a2, resolves to a loopback address: 127.0.0.1; using 10.0.0.203 instead (on interface eth0)
25/07/05 13:48:34 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/07/05 13:48:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

root
 |-- SURVEY_ID: integer (nullable = true)
 |-- SURVEY_SPECIES_ID: integer (nullable = true)
 |-- SPECIES_ID: integer (nullable = true)
 |-- SPECIES_RUN_ID: integer (nullable = true)
 |-- RUN_NUMBER: integer (nullable = true)
 |-- LW_MEASURED_ID: integer (nullable = true)
 |-- FISH_LENGTH: integer (nullable = true)
 |-- FISH_WEIGHT: double (nullable = true)
 |-- AGE_BAND: string (nullable = true)
 |-- NALL_AGE: string (nullable = true)

+---------+-----------------+----------+--------------+----------+--------------+-----------+-----------+--------+--------+
|SURVEY_ID|SURVEY_SPECIES_ID|SPECIES_ID|SPECIES_RUN_ID|RUN_NUMBER|LW_MEASURED_ID|FISH_LENGTH|FISH_WEIGHT|AGE_BAND|NALL_AGE|
+---------+-----------------+----------+--------------+----------+--------------+-----------+-----------+--------+--------+
|   176011|           758857|       111|       1007731|         2|       9498746|        134|       NULL|      >0|    NULL|
|   176011|           758857|       111|       1007731|         2|       9498747|        135|       NULL|      >0|    NULL|
|   176011|           758857|       111|       1007731|         2|       9498748|        137|       NULL|      >0|    NULL|
|   176011|           758857|       111|       1007730|         1|       9498712|        235|       NULL|      >0|    NULL|
|   176011|           758857|       111|       1007730|         1|       9498716|        263|       NULL|      >0|    NULL|
+---------+-----------------+----------+--------------+----------+--------------+-----------+-----------+--------+--------+
only showing top 5 rows

In [2]:
import os

csv_path = "raw_data/FW_Fish_Individual_Lengths.csv"
parquet_dir = "working_data/FW_Fish_Individual_Lengths.parquet"

# Get CSV file size
csv_size = os.path.getsize(csv_path)

# Get Parquet directory total size
parquet_size = 0
for dirpath, dirnames, filenames in os.walk(parquet_dir):
    for f in filenames:
        fp = os.path.join(dirpath, f)
        parquet_size += os.path.getsize(fp)

print(f"CSV file size: {csv_size / 1024:.2f} KB")
print(f"Parquet file size: {parquet_size / 1024:.2f} KB")
print(f"Parquet file size is {parquet_size / csv_size * 100 :.2f}% of CSV file size")

CSV file size: 302376.03 KB
Parquet file size: 48593.09 KB
Parquet file size is 16.07% of CSV file size

In [3]:
df.describe().show()

25/07/05 13:49:28 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+
|summary|         SURVEY_ID| SURVEY_SPECIES_ID|        SPECIES_ID|    SPECIES_RUN_ID|        RUN_NUMBER|    LW_MEASURED_ID|       FISH_LENGTH|      FISH_WEIGHT|          AGE_BAND|          NALL_AGE|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+
|  count|           7367578|           7367578|           7367578|           7367578|           7367578|           7367578|           7367578|           240058|           1130971|             23866|
|   mean| 93682.65089680761|361486.63287636725|186.76893668448437|456139.34172627697|1.2403370551353512| 4823066.600317092|121.35132888990113|294.6411737996638|2.3283536234110374|2.1630705394190812|
| stddev|46246.016643685456|216998.11731457428| 55.04064610893465| 304998.3889446112|0.5048177896548945|2748992.5925714923| 94.20012204576273|795.3060720256196| 2.130040620843675| 0.589778658342934|
|    min|               120|               100|                 1|               100|                 1|               100|                 0|              0.1|                 0|                +2|
|    max|            176672|            760076|              1198|           1009337|                 6|           9506421|             72175|          20000.0|               >9+|                st|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+

In [5]:
df.summary().show()

+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+
|summary|         SURVEY_ID| SURVEY_SPECIES_ID|        SPECIES_ID|    SPECIES_RUN_ID|        RUN_NUMBER|    LW_MEASURED_ID|       FISH_LENGTH|      FISH_WEIGHT|          AGE_BAND|          NALL_AGE|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+
|  count|           7367578|           7367578|           7367578|           7367578|           7367578|           7367578|           7367578|           240058|           1130971|             23866|
|   mean| 93682.65089680761|361486.63287636725|186.76893668448437|456139.34172627697|1.2403370551353512| 4823066.600317092|121.35132888990113|294.6411737996638|2.3283536234110374|2.1630705394190812|
| stddev|46246.016643685456|216998.11731457428| 55.04064610893465| 304998.3889446112|0.5048177896548945|2748992.5925714923| 94.20012204576273|795.3060720256196| 2.130040620843675| 0.589778658342934|
|    min|               120|               100|                 1|               100|                 1|               100|                 0|              0.1|                 0|                +2|
|    25%|             54590|            172147|               153|            174211|                 1|           2602282|                68|              7.0|               1.0|               2.1|
|    50%|            101045|            369269|               194|            452761|                 1|           4874036|                98|             30.0|               2.0|               2.2|
|    75%|            133760|            530776|               194|            709948|                 1|           7151526|               140|            157.0|               3.0|               2.2|
|    max|            176672|            760076|              1198|           1009337|                 6|           9506421|             72175|          20000.0|               >9+|                st|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+

In [6]:
# Get unique SPECIES_ID with matched SPECIES_NAME and LATIN_NAME from counts_df
unique_species_list = (
    counts_df.select("SPECIES_ID", "SPECIES_NAME", "LATIN_NAME")
    .dropDuplicates(["SPECIES_ID"])
    .orderBy("SPECIES_ID")
    .collect()
)

# Convert to a list of dicts
species_info_list = [
    {
        "SPECIES_ID": row["SPECIES_ID"],
        "SPECIES_NAME": row["SPECIES_NAME"],
        "LATIN_NAME": row["LATIN_NAME"]
    }
    for row in unique_species_list
]

species_info_list[:5]  # Show first 5 as a sample

[{'SPECIES_ID': None, 'SPECIES_NAME': None, 'LATIN_NAME': None},
 {'SPECIES_ID': 1, 'SPECIES_NAME': 'All species', 'LATIN_NAME': None},
 {'SPECIES_ID': 103, 'SPECIES_NAME': 'Salmonid species', 'LATIN_NAME': None},
 {'SPECIES_ID': 111,
  'SPECIES_NAME': 'Brown / sea trout',
  'LATIN_NAME': 'Salmo trutta'},
 {'SPECIES_ID': 114,
  'SPECIES_NAME': 'Rainbow trout',
  'LATIN_NAME': 'Oncorhynchus mykiss'}]

In [7]:
# Get unique SURVEY_ID and corresponding EVENT_DATE_YEAR from counts_df
unique_survey_list = (
    counts_df.select("SURVEY_ID", "EVENT_DATE_YEAR")
    .dropDuplicates(["SURVEY_ID"])
    .orderBy("SURVEY_ID")
    .collect()
)

# Convert to a list of dicts
survey_info_list = [
    {
        "SURVEY_ID": row["SURVEY_ID"],
        "EVENT_DATE_YEAR": row["EVENT_DATE_YEAR"]
    }
    for row in unique_survey_list
]

survey_info_list[:5]  # Show first 5 as a sample

[{'SURVEY_ID': 120, 'EVENT_DATE_YEAR': 2000},
 {'SURVEY_ID': 140, 'EVENT_DATE_YEAR': 2001},
 {'SURVEY_ID': 160, 'EVENT_DATE_YEAR': 2001},
 {'SURVEY_ID': 4001, 'EVENT_DATE_YEAR': 1987},
 {'SURVEY_ID': 4002, 'EVENT_DATE_YEAR': 1987}]

In [8]:
import pandas as pd
import pyspark.sql.functions as F
from pyspark.sql.types import StringType
import re

# 1. Create DataFrames from the lists
survey_info_pd = pd.DataFrame(survey_info_list)
species_info_pd = pd.DataFrame(species_info_list)

survey_info_sdf = spark.createDataFrame(survey_info_pd)
species_info_sdf = spark.createDataFrame(species_info_pd)

# 2. Add EVENT_DATE_YEAR by matching SURVEY_ID
df_joined = df.join(survey_info_sdf, on="SURVEY_ID", how="left")

# 3. Add SPECIES_NAME and LATIN_NAME by matching SPECIES_ID
df_joined = df_joined.join(species_info_sdf, on="SPECIES_ID", how="left")

# 4. Aggregation for all years
agg_all = (
    df_joined.groupBy("SPECIES_ID")
    .agg(
        F.count("*").alias("species_count"),
        F.count(F.col("AGE_BAND")).alias("age_band_count"),
        F.collect_list("AGE_BAND").alias("age_band_list")
    )
)

# Helper to get unique AGE_BAND values with counts as a string
def format_age_band_counts(age_band_list):
    from collections import Counter
    counts = Counter([v for v in age_band_list if v is not None and str(v).strip() != ""])
    return ", ".join(f"{k} ({v})" for k, v in sorted(counts.items(), key=lambda x: x[0]))

format_age_band_counts_udf = F.udf(format_age_band_counts, returnType=StringType())

agg_all = agg_all.withColumn(
    "unique_AGE_BAND_values",
    format_age_band_counts_udf("age_band_list")
).drop("age_band_list")

# 5. Aggregation for EVENT_DATE_YEAR >= 2005
agg_2005 = (
    df_joined.filter(F.col("EVENT_DATE_YEAR") >= 2005)
    .groupBy("SPECIES_ID")
    .agg(
        F.count("*").alias("species_count_2005plus"),
        F.count(F.col("AGE_BAND")).alias("age_band_count_2005plus"),
        F.collect_list("AGE_BAND").alias("age_band_list_2005plus")
    )
)

agg_2005 = agg_2005.withColumn(
    "unique_AGE_BAND_values_2005plus",
    format_age_band_counts_udf("age_band_list_2005plus")
).drop("age_band_list_2005plus")

# 6. Join both aggregations
final_df = agg_all.join(
    agg_2005.select(
        "SPECIES_ID",
        "species_count_2005plus",
        "age_band_count_2005plus",
        "unique_AGE_BAND_values_2005plus"
    ),
    on="SPECIES_ID",
    how="outer"
)

# 7. Now join species info ONCE
final_df = final_df.join(species_info_sdf, on="SPECIES_ID", how="left")

# 8. Sort by age_band_count descending
final_df = final_df.orderBy(F.desc("age_band_count"))

# 9. Set column order
final_df = final_df.select(*column_order)

final_df.show(truncate=False)

# 10. Convert to pandas and sort unique AGE_BAND values for CSV
def sort_key(val):
    val = val.strip()
    match = re.match(r'([<>]?)(\d+)(\+?)', val)
    if not match:
        return (2, 0, '')  # Put unrecognized at the end
    sign, num, plus = match.groups()
    sign_order = {'<': 0, '': 1, '>': 2}
    return (sign_order.get(sign, 1), int(num), plus)

def sort_age_band_string(s):
    if pd.isnull(s):
        return ""
    items = [v.strip() for v in s.split(",") if v.strip()]
    return ", ".join(sorted(items, key=lambda x: sort_key(x.split(" ")[0])))

result_pd = final_df.toPandas()
result_pd["unique_AGE_BAND_values"] = result_pd["unique_AGE_BAND_values"].apply(sort_age_band_string)
result_pd["unique_AGE_BAND_values_2005plus"] = result_pd["unique_AGE_BAND_values_2005plus"].apply(sort_age_band_string)

result_pd.to_csv("outputs/species_aggregates.csv", index=False)

+----------+-----------------+---------------------------+-------------+--------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------+-----------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|SPECIES_ID|SPECIES_NAME     |LATIN_NAME                 |species_count|age_band_count|unique_AGE_BAND_values                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         |species_count_2005plus|age_band_count_2005plus|unique_AGE_BAND_values_2005plus                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |
+----------+-----------------+---------------------------+-------------+--------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------+-----------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|111       |Brown / sea trout|Salmo trutta               |992002       |623947        |0 (1219), 0+ (307130), 1 (2042), 1+ (93852), 13+ (1), 2 (10086), 2+ (29502), 3 (4246), 3+ (9406), 4 (433), 4+ (2023), 5 (99), 5+ (347), 6 (13), 6+ (53), 7 (8), 7+ (8), 8+ (4), 9+ (2), >0 (828), >0+ (148087), >1 (26), >1+ (12573), >2 (38), >2+ (1693), >3 (45), >3+ (127), >4 (16), >4+ (27), >5+ (12), >6+ (1)                                                                                                                                                                                                                                            |746967                |490479                 |0 (658), 0+ (250865), 1 (1134), 1+ (60861), 2 (7916), 2+ (15348), 3 (3420), 3+ (5002), 4 (379), 4+ (1058), 5 (84), 5+ (152), 6 (12), 6+ (15), 7 (6), 7+ (3), 8+ (1), 9+ (2), >0 (826), >0+ (131446), >1 (23), >1+ (10254), >2 (24), >2+ (887), >3 (25), >3+ (52), >4 (8), >4+ (11), >5+ (6), >6+ (1)                                                                                                                                                                                                  |
|118       |Atlantic salmon  |Salmo salar                |381681       |327103        |0 (328), 0+ (217103), 1 (698), 1+ (41054), 2 (6545), 2+ (1006), 3 (109), 3+ (29), 4 (2), 4+ (3), 5 (2), 5+ (1), >0 (8), >0+ (60008), >1 (13), >1+ (192), >2+ (2)                                                                                                                                                                                                                                                                                                                                                                                               |309162                |264563                 |0 (160), 0+ (178122), 1 (298), 1+ (29282), 2 (5595), 2+ (442), 3 (99), 3+ (18), 4 (2), 4+ (3), 5 (2), 5+ (1), >0 (7), >0+ (50373), >1 (8), >1+ (150), >2+ (1)                                                                                                                                                                                                                                                                                                                                         |
|194       |Roach            |Rutilus rutilus            |2666287      |69960         |0 (5065), 0+ (1557), 1 (305), 1+ (9274), 10 (45), 10+ (230), 11 (15), 11+ (95), 12 (7), 12+ (47), 13 (4), 13+ (16), 14+ (7), 15+ (6), 16+ (1), 2 (1107), 2+ (13642), 3 (1616), 3+ (12367), 4 (1236), 4+ (8749), 5 (879), 5+ (5616), 6 (567), 6+ (3292), 7 (358), 7+ (1848), 8 (204), 8+ (991), 9 (95), 9+ (437), >0 (1), >0+ (256), >1 (1), >1+ (1), >2 (2), >2+ (1), >3+ (5), >4 (5), >4+ (3), >5+ (5), >6+ (2)                                                                                                                                               |959861                |42650                  |0 (5), 0+ (273), 1 (123), 1+ (3947), 10 (26), 10+ (180), 11 (13), 11+ (74), 12 (5), 12+ (29), 13 (4), 13+ (6), 14+ (2), 15+ (4), 16+ (1), 2 (770), 2+ (8507), 3 (1133), 3+ (8862), 4 (872), 4+ (6904), 5 (662), 5+ (4230), 6 (451), 6+ (2632), 7 (275), 7+ (1411), 8 (167), 8+ (689), 9 (73), 9+ (310), >0+ (6), >1 (1), >2 (1), >3+ (1), >5+ (1)                                                                                                                                                     |
|152       |Chub             |Leuciscus cephalus         |313481       |31281         |0 (100), 0+ (355), 1 (104), 1+ (2104), 10 (190), 10+ (1192), 11 (115), 11+ (1001), 12 (75), 12+ (920), 13 (66), 13+ (710), 14 (38), 14+ (492), 15 (23), 15+ (357), 16 (22), 16+ (164), 17 (11), 17+ (91), 18 (3), 18+ (45), 19 (1), 19+ (19), 2 (424), 2+ (3920), 20+ (8), 3 (572), 3+ (3901), 4 (525), 4+ (3509), 5 (346), 5+ (2385), 6 (246), 6+ (2038), 7 (215), 7+ (1750), 8 (205), 8+ (1470), 9 (170), 9+ (1318), >0 (4), >0+ (53), >1 (1), >1+ (3), >10+ (2), >11+ (2), >12+ (1), >20+ (4), >3+ (1), >4+ (1), >5+ (3), >6+ (1), >7+ (1), >8+ (1), >9+ (3)|184800                |22364                  |0 (6), 0+ (144), 1 (49), 1+ (1041), 10 (85), 10+ (852), 11 (69), 11+ (687), 12 (50), 12+ (625), 13 (41), 13+ (495), 14 (31), 14+ (349), 15 (16), 15+ (227), 16 (19), 16+ (105), 17 (5), 17+ (58), 18 (3), 18+ (19), 19 (1), 19+ (9), 2 (269), 2+ (2987), 20+ (5), 3 (400), 3+ (3167), 4 (348), 4+ (2945), 5 (207), 5+ (1957), 6 (145), 6+ (1478), 7 (128), 7+ (1213), 8 (133), 8+ (962), 9 (110), 9+ (893), >0 (2), >0+ (16), >1 (1), >1+ (2), >10+ (2), >11+ (2), >12+ (1), >3+ (1), >8+ (1), >9+ (3)|
|153       |Dace             |Leuciscus leuciscus        |447328       |28556         |0 (862), 0+ (1223), 1 (312), 1+ (5683), 10 (4), 10+ (6), 11 (1), 2 (856), 2+ (6808), 3 (741), 3+ (5020), 4 (616), 4+ (3172), 5 (297), 5+ (1557), 6 (150), 6+ (682), 7 (77), 7+ (271), 8 (38), 8+ (115), 9 (11), 9+ (26), >0+ (25), >1+ (1), >2+ (1), >5+ (1)                                                                                                                                                                                                                                                                                                   |210225                |19900                  |0 (8), 0+ (499), 1 (171), 1+ (3310), 10 (2), 10+ (4), 11 (1), 2 (457), 2+ (5353), 3 (546), 3+ (4066), 4 (382), 4+ (2655), 5 (205), 5+ (1230), 6 (106), 6+ (515), 7 (52), 7+ (193), 8 (29), 8+ (74), 9 (7), 9+ (18), >0+ (15), >1+ (1), >5+ (1)                                                                                                                                                                                                                                                        |
|211       |Perch            |Perca fluviatilis          |403480       |8152          |0 (581), 0+ (570), 1 (119), 1+ (1975), 10 (2), 10+ (9), 11 (1), 11+ (7), 13 (1), 2 (228), 2+ (1945), 3 (187), 3+ (1148), 4 (88), 4+ (530), 5 (44), 5+ (265), 6 (24), 6+ (164), 7 (18), 7+ (113), 8 (5), 8+ (67), 9+ (39), >0+ (21), >1 (1)                                                                                                                                                                                                                                                                                                                     |172405                |1958                   |0+ (119), 1 (9), 1+ (539), 10 (2), 10+ (4), 11+ (2), 13 (1), 2 (22), 2+ (575), 3 (19), 3+ (291), 4 (8), 4+ (152), 5 (5), 5+ (70), 6 (5), 6+ (54), 7 (2), 7+ (39), 8 (2), 8+ (17), 9+ (11), >0+ (10)                                                                                                                                                                                                                                                                                                   |
|193       |Gudgeon          |Gobio gobio                |365181       |7785          |0 (913), 0+ (213), 1 (71), 1+ (2007), 2 (266), 2+ (2461), 3 (164), 3+ (942), 4 (36), 4+ (234), 5 (14), 5+ (44), 6 (1), 6+ (4), 7+ (3), 8+ (2), >0 (32), >0+ (365), >1+ (4), >2+ (3), >3+ (1), >4 (5)                                                                                                                                                                                                                                                                                                                                                           |176909                |1573                   |0+ (80), 1 (19), 1+ (277), 2 (45), 2+ (752), 3 (12), 3+ (261), 4 (3), 4+ (60), 5 (2), 5+ (7), 7+ (1), >0+ (50), >1+ (2), >2+ (1), >3+ (1)                                                                                                                                                                                                                                                                                                                                                             |
|154       |Grayling         |Thymallus thymallus        |41497        |7446          |0 (238), 0+ (2114), 1 (176), 1+ (2599), 10+ (2), 2 (108), 2+ (1409), 3 (37), 3+ (494), 4 (25), 4+ (165), 5+ (30), 6+ (9), >0 (2), >0+ (26), >1+ (11), >2+ (1)                                                                                                                                                                                                                                                                                                                                                                                                  |25120                 |2369                   |0 (31), 0+ (452), 1 (119), 1+ (875), 10+ (1), 2 (60), 2+ (522), 3 (17), 3+ (192), 4 (7), 4+ (54), 5+ (7), >0 (2), >0+ (20), >1+ (10)                                                                                                                                                                                                                                                                                                                                                                  |
|283       |Bullhead         |Cottus gobio               |256010       |6098          |0 (347), 0+ (2548), 1+ (28), 2 (1), >0 (1), >0+ (3173)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         |204971                |1693                   |0+ (1041), 1+ (1), >0+ (651)                                                                                                                                                                                                                                                                                                                                                                                                                                                                          |
|213       |Pike             |Esox lucius                |109606       |5392          |0 (80), 0+ (934), 1 (167), 1+ (921), 10 (2), 10+ (32), 11 (2), 11+ (11), 12+ (3), 13 (1), 13+ (1), 14+ (1), 2 (71), 2+ (658), 3 (68), 3+ (640), 4 (68), 4+ (588), 5 (39), 5+ (430), 6 (18), 6+ (304), 7 (11), 7+ (166), 8 (3), 8+ (110), 9 (7), 9+ (55), >1+ (1)                                                                                                                                                                                                                                                                                               |51520                 |1499                   |0 (1), 0+ (259), 1 (35), 1+ (276), 10 (1), 10+ (6), 11 (2), 11+ (2), 13 (1), 2 (24), 2+ (223), 3 (34), 3+ (138), 4 (38), 4+ (130), 5 (24), 5+ (115), 6 (7), 6+ (86), 7 (7), 7+ (41), 8 (2), 8+ (31), 9 (5), 9+ (11)                                                                                                                                                                                                                                                                                   |
|182       |Common bream     |Abramis brama              |221758       |5086          |0 (424), 0+ (55), 1 (89), 1+ (385), 10 (22), 10+ (93), 11 (29), 11+ (121), 12 (18), 12+ (89), 13 (23), 13+ (68), 14 (8), 14+ (38), 15 (7), 15+ (35), 16 (1), 16+ (18), 17 (1), 17+ (6), 18 (1), 18+ (5), 19+ (2), 2 (236), 2+ (636), 20+ (1), 3 (250), 3+ (556), 4 (253), 4+ (369), 5 (194), 5+ (235), 6 (110), 6+ (170), 7 (74), 7+ (137), 8 (42), 8+ (139), 9 (38), 9+ (106), >10 (1), >9 (1)                                                                                                                                                                |58329                 |3581                   |0 (2), 0+ (43), 1 (81), 1+ (242), 10 (18), 10+ (79), 11 (19), 11+ (97), 12 (8), 12+ (57), 13 (5), 13+ (45), 14 (2), 14+ (24), 15 (1), 15+ (24), 16+ (14), 17+ (4), 18+ (4), 19+ (2), 2 (186), 2+ (500), 3 (164), 3+ (468), 4 (148), 4+ (314), 5 (142), 5+ (219), 6 (82), 6+ (156), 7 (55), 7+ (112), 8 (37), 8+ (112), 9 (30), 9+ (83), >10 (1), >9 (1)                                                                                                                                               |
|181       |Bleak            |Alburnus alburnus          |191490       |4179          |0 (57), 0+ (130), 1 (18), 1+ (1024), 2 (34), 2+ (1749), 3 (35), 3+ (831), 4 (9), 4+ (244), 5 (9), 5+ (30), 6+ (6), 7+ (3)                                                                                                                                                                                                                                                                                                                                                                                                                                      |117661                |884                    |0 (1), 0+ (101), 1+ (175), 2+ (272), 3 (1), 3+ (208), 4 (1), 4+ (103), 5 (4), 5+ (16), 6+ (1), 7+ (1)                                                                                                                                                                                                                                                                                                                                                                                                 |
|151       |Barbel           |Barbus barbus              |18115        |2421          |0 (2), 0+ (34), 1 (32), 1+ (284), 10 (11), 10+ (102), 11 (17), 11+ (97), 12 (11), 12+ (90), 13 (6), 13+ (109), 14 (9), 14+ (61), 15 (4), 15+ (48), 16 (4), 16+ (26), 17 (9), 17+ (8), 18+ (10), 19 (4), 19+ (3), 2 (70), 2+ (334), 20 (2), 20+ (4), 3 (72), 3+ (199), 4 (44), 4+ (101), 5 (21), 5+ (105), 6 (18), 6+ (97), 7 (9), 7+ (111), 8 (9), 8+ (114), 9 (15), 9+ (114), >20+ (1)                                                                                                                                                                        |12649                 |1401                   |0 (1), 0+ (18), 1 (5), 1+ (145), 10 (8), 10+ (76), 11 (14), 11+ (55), 12 (9), 12+ (40), 13 (6), 13+ (49), 14 (9), 14+ (32), 15 (3), 15+ (23), 16 (3), 16+ (11), 17 (9), 17+ (3), 18+ (4), 19 (4), 2 (40), 2+ (197), 20 (2), 3 (42), 3+ (135), 4 (15), 4+ (63), 5 (11), 5+ (67), 6 (10), 6+ (52), 7 (3), 7+ (76), 8 (3), 8+ (71), 9 (9), 9+ (78)                                                                                                                                                       |
|196       |Rudd             |Scardinius erythrophthalmus|38639        |675           |0+ (3), 1+ (116), 11+ (2), 12+ (1), 14+ (2), 2 (7), 2+ (227), 3 (10), 3+ (115), 4 (14), 4+ (75), 5 (6), 5+ (38), 6 (3), 6+ (20), 7 (3), 7+ (16), 8+ (14), 9+ (2), >4+ (1)                                                                                                                                                                                                                                                                                                                                                                                      |10751                 |613                    |1+ (100), 11+ (2), 12+ (1), 14+ (2), 2 (7), 2+ (223), 3 (10), 3+ (106), 4 (14), 4+ (60), 5 (6), 5+ (31), 6 (2), 6+ (18), 7 (3), 7+ (15), 8+ (11), 9+ (2)                                                                                                                                                                                                                                                                                                                                              |

In [17]:
# Check if all fish are accounted for
total_fish_in_parquet = df.count()
if result_pd["species_count"].sum() == total_fish_in_parquet:
    print("All fish are accounted for in species_count.")
else:
    print(f"Discrepancy in species_count: {result_pd['species_count'].sum()} vs {total_fish_in_parquet}")

# Check if all age_band entries are accounted for
total_age_band_in_parquet = df.filter(df.AGE_BAND.isNotNull()).count()
if result_pd["age_band_count"].sum() == total_age_band_in_parquet:
    print("All age_band entries are accounted for in age_band_count.")
else:
    print(f"Discrepancy in age_band_count: {result_pd['age_band_count'].sum()} vs {total_age_band_in_parquet}")

All fish are accounted for in species_count.
All age_band entries are accounted for in age_band_count.

In [9]:
df.printSchema()
df.select("AGE_BAND").count()

root
 |-- SPECIES_ID: integer (nullable = true)
 |-- SURVEY_ID: integer (nullable = true)
 |-- SURVEY_SPECIES_ID: integer (nullable = true)
 |-- SPECIES_RUN_ID: integer (nullable = true)
 |-- RUN_NUMBER: integer (nullable = true)
 |-- LW_MEASURED_ID: integer (nullable = true)
 |-- FISH_LENGTH: integer (nullable = true)
 |-- FISH_WEIGHT: double (nullable = true)
 |-- AGE_BAND: string (nullable = true)
 |-- NALL_AGE: string (nullable = true)
 |-- EVENT_DATE_YEAR: integer (nullable = true)
 |-- SPECIES_NAME: string (nullable = true)
 |-- LATIN_NAME: string (nullable = true)

59243228

In [12]:
from pyspark.sql import functions as F

# 1. Aggregation for all years
agg_all = (
    df.groupBy("SPECIES_ID")
    .agg(
        F.count("*").alias("species_count"),
        F.count(F.col("AGE_BAND")).alias("age_band_count"),
        F.collect_list("AGE_BAND").alias("age_band_list")
    )
)

# Helper to get unique AGE_BAND values with counts as a string
def format_age_band_counts(age_band_list):
    from collections import Counter
    counts = Counter([v for v in age_band_list if v is not None and str(v).strip() != ""])
    return ", ".join(f"{k} ({v})" for k, v in sorted(counts.items(), key=lambda x: x[0]))

format_age_band_counts_udf = F.udf(format_age_band_counts, returnType=F.StringType())

agg_all = agg_all.withColumn(
    "unique_AGE_BAND_values",
    format_age_band_counts_udf("age_band_list")
).drop("age_band_list")

# 2. Aggregation for EVENT_DATE_YEAR >= 2005
agg_2005 = (
    df.filter(F.col("EVENT_DATE_YEAR") >= 2005)
    .groupBy("SPECIES_ID")
    .agg(
        F.count("*").alias("species_count_2005plus"),
        F.count(F.col("AGE_BAND")).alias("age_band_count_2005plus"),
        F.collect_list("AGE_BAND").alias("age_band_list_2005plus")
    )
)

agg_2005 = agg_2005.withColumn(
    "unique_AGE_BAND_values_2005plus",
    format_age_band_counts_udf("age_band_list_2005plus")
).drop("age_band_list_2005plus")

# Join both aggregations
final_df = agg_all.join(
    agg_2005.select(
        "SPECIES_ID",
        "species_count_2005plus",
        "age_band_count_2005plus",
        "unique_AGE_BAND_values_2005plus"
    ),
    on="SPECIES_ID",
    how="outer"
)

# Add species info (SPECIES_NAME, LATIN_NAME)
final_df = final_df.join(species_info_df, on="SPECIES_ID", how="left")

# Sort by age_band_count descending
final_df = final_df.orderBy(F.desc("age_band_count"))

column_order = [
    "SPECIES_ID",
    "SPECIES_NAME",
    "LATIN_NAME",
    "species_count",
    "age_band_count",
    "unique_AGE_BAND_values",
    "species_count_2005plus",
    "age_band_count_2005plus",
    "unique_AGE_BAND_values_2005plus"
]

final_df = final_df.select(*column_order)

final_df.show(truncate=False)

+----------+-----------------+---------------------------+-------------+--------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------+-----------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|SPECIES_ID|SPECIES_NAME     |LATIN_NAME                 |species_count|age_band_count|unique_AGE_BAND_values                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |species_count_2005plus|age_band_count_2005plus|unique_AGE_BAND_values_2005plus                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |
+----------+-----------------+---------------------------+-------------+--------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------+-----------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|111       |Brown / sea trout|Salmo trutta               |3885102      |2298087       |0 (4160), 0+ (1070652), 1 (7777), 1+ (356232), 13+ (2), 2 (23871), 2+ (129043), 3 (12038), 3+ (45266), 4 (2198), 4+ (11325), 5 (459), 5+ (2092), 6 (55), 6+ (322), 7 (44), 7+ (60), 8+ (32), 9+ (8), >0 (3391), >0+ (567048), >1 (114), >1+ (54100), >2 (188), >2+ (6402), >3 (262), >3+ (658), >4 (84), >4+ (134), >5+ (59), >6+ (11)                                                                                                                                                                                                                                                                           |2936934               |1804616                |0 (2202), 0+ (872104), 1 (4482), 1+ (231780), 2 (18388), 2+ (70527), 3 (9530), 3+ (25188), 4 (1932), 4+ (6223), 5 (399), 5+ (922), 6 (50), 6+ (84), 7 (34), 7+ (22), 8+ (11), 9+ (8), >0 (3382), >0+ (507966), >1 (104), >1+ (44819), >2 (147), >2+ (3604), >3 (196), >3+ (307), >4 (72), >4+ (82), >5+ (40), >6+ (11)                                                                                                                                                                                                                               |
|118       |Atlantic salmon  |Salmo salar                |1752644      |1450791       |0 (1433), 0+ (991356), 1 (1922), 1+ (188635), 2 (12011), 2+ (4221), 3 (209), 3+ (137), 4 (4), 4+ (42), 5 (4), 5+ (16), >0 (35), >0+ (249701), >1 (78), >1+ (975), >2+ (12)                                                                                                                                                                                                                                                                                                                                                                                                                                       |1425878               |1176091                |0 (480), 0+ (817457), 1 (681), 1+ (133655), 2 (10217), 2+ (2061), 3 (189), 3+ (93), 4 (4), 4+ (42), 5 (4), 5+ (16), >0 (29), >0+ (210384), >1 (31), >1+ (743), >2+ (5)                                                                                                                                                                                                                                                                                                                                                                               |
|194       |Roach            |Rutilus rutilus            |24994073     |645103        |0 (31210), 0+ (16972), 1 (2718), 1+ (90481), 10 (368), 10+ (2275), 11 (133), 11+ (975), 12 (57), 12+ (521), 13 (33), 13+ (168), 14+ (75), 15+ (45), 16+ (11), 2 (9221), 2+ (129332), 3 (13589), 3+ (119137), 4 (10226), 4+ (82983), 5 (7167), 5+ (52715), 6 (4511), 6+ (31355), 7 (2897), 7+ (17399), 8 (1695), 8+ (9305), 9 (796), 9+ (4288), >0 (8), >0+ (2270), >1 (7), >1+ (5), >2 (20), >2+ (5), >3+ (38), >4 (14), >4+ (16), >5+ (42), >6+ (20)                                                                                                                                                            |9060535               |408569                 |0 (61), 0+ (2719), 1 (1013), 1+ (38093), 10 (211), 10+ (1801), 11 (113), 11+ (745), 12 (42), 12+ (293), 13 (33), 13+ (57), 14+ (17), 15+ (33), 16+ (11), 2 (6635), 2+ (81472), 3 (9957), 3+ (87078), 4 (7561), 4+ (67157), 5 (5488), 5+ (40841), 6 (3659), 6+ (25655), 7 (2257), 7+ (13732), 8 (1415), 8+ (6663), 9 (610), 9+ (3067), >0+ (43), >1 (7), >2 (12), >3+ (6), >5+ (12)                                                                                                                                                                   |
|152       |Chub             |Leuciscus cephalus         |2868446      |314799        |0 (808), 0+ (3462), 1 (1077), 1+ (21943), 10 (1696), 10+ (12123), 11 (1093), 11+ (10303), 12 (759), 12+ (9466), 13 (652), 13+ (7474), 14 (385), 14+ (5121), 15 (238), 15+ (3747), 16 (234), 16+ (1718), 17 (128), 17+ (1016), 18 (35), 18+ (498), 19 (10), 19+ (195), 2 (4008), 2+ (39856), 20+ (92), 3 (5462), 3+ (39507), 4 (4889), 4+ (34768), 5 (3118), 5+ (23417), 6 (2110), 6+ (20663), 7 (1970), 7+ (17998), 8 (1910), 8+ (15028), 9 (1598), 9+ (13645), >0 (24), >0+ (325), >1 (11), >1+ (26), >10+ (19), >11+ (18), >12+ (9), >20+ (49), >3+ (7), >4+ (6), >5+ (26), >6+ (6), >7+ (8), >8+ (9), >9+ (36)|1757545               |227124                 |0 (46), 0+ (1342), 1 (466), 1+ (10839), 10 (898), 10+ (8664), 11 (690), 11+ (7126), 12 (516), 12+ (6447), 13 (435), 13+ (5115), 14 (334), 14+ (3578), 15 (171), 15+ (2359), 16 (210), 16+ (1096), 17 (59), 17+ (627), 18 (35), 18+ (182), 19 (10), 19+ (85), 2 (2762), 2+ (30152), 20+ (52), 3 (4068), 3+ (32483), 4 (3426), 4+ (29454), 5 (2005), 5+ (19366), 6 (1315), 6+ (15123), 7 (1260), 7+ (12492), 8 (1324), 8+ (9951), 9 (1128), 9+ (9159), >0 (8), >0+ (139), >1 (11), >1+ (18), >10+ (19), >11+ (18), >12+ (9), >3+ (7), >8+ (9), >9+ (36)|
|153       |Dace             |Leuciscus leuciscus        |4099274      |293874        |0 (9406), 0+ (12846), 1 (3144), 1+ (61300), 10 (29), 10+ (48), 11 (5), 2 (7937), 2+ (71977), 3 (6906), 3+ (52010), 4 (5619), 4+ (31463), 5 (2787), 5+ (15119), 6 (1382), 6+ (6576), 7 (736), 7+ (2585), 8 (309), 8+ (1081), 9 (106), 9+ (252), >0+ (216), >1+ (9), >2+ (16), >5+ (10)                                                                                                                                                                                                                                                                                                                            |2061152               |202960                 |0 (82), 0+ (4863), 1 (1568), 1+ (34767), 10 (16), 10+ (38), 11 (5), 2 (4462), 2+ (55591), 3 (5288), 3+ (41983), 4 (3780), 4+ (26597), 5 (2023), 5+ (12114), 6 (1022), 6+ (4997), 7 (511), 7+ (1897), 8 (243), 8+ (710), 9 (77), 9+ (172), >0+ (135), >1+ (9), >5+ (10)                                                                                                                                                                                                                                                                               |
|211       |Perch            |Perca fluviatilis          |3692098      |73001         |0 (4196), 0+ (5201), 1 (1059), 1+ (19099), 10 (14), 10+ (119), 11 (5), 11+ (69), 13 (7), 2 (1810), 2+ (16719), 3 (1468), 3+ (10387), 4 (749), 4+ (4897), 5 (347), 5+ (2514), 6 (175), 6+ (1565), 7 (145), 7+ (1150), 8 (40), 8+ (724), 9+ (356), >0+ (175), >1 (11)                                                                                                                                                                                                                                                                                                                                              |1583651               |19523                  |0+ (995), 1 (100), 1+ (5253), 10 (14), 10+ (53), 11+ (20), 13 (7), 2 (216), 2+ (5784), 3 (144), 3+ (2861), 4 (62), 4+ (1625), 5 (39), 5+ (773), 6 (38), 6+ (606), 7 (20), 7+ (464), 8 (20), 8+ (209), 9+ (130), >0+ (90)                                                                                                                                                                                                                                                                                                                             |
|193       |Gudgeon          |Gobio gobio                |3392183      |69995         |0 (6504), 0+ (2040), 1 (698), 1+ (18827), 2 (2721), 2+ (23126), 3 (1427), 3+ (8922), 4 (262), 4+ (2061), 5 (101), 5+ (383), 6 (5), 6+ (28), 7+ (15), 8+ (14), >0 (247), >0+ (2545), >1+ (25), >2+ (17), >3+ (10), >4 (17)                                                                                                                                                                                                                                                                                                                                                                                        |1705599               |15024                  |0+ (903), 1 (170), 1+ (2832), 2 (356), 2+ (6923), 3 (96), 3+ (2651), 4 (28), 4+ (538), 5 (16), 5+ (72), 7+ (9), >0+ (394), >1+ (20), >2+ (6), >3+ (10)                                                                                                                                                                                                                                                                                                                                                                                               |
|154       |Grayling         |Thymallus thymallus        |340242       |68004         |0 (2130), 0+ (19783), 1 (1182), 1+ (24594), 10+ (20), 2 (851), 2+ (12814), 3 (327), 3+ (4237), 4 (230), 4+ (1276), 5+ (217), 6+ (55), >0 (24), >0+ (169), >1+ (79), >2+ (16)                                                                                                                                                                                                                                                                                                                                                                                                                                     |205016                |21014                  |0 (191), 0+ (3909), 1 (729), 1+ (7987), 10+ (12), 2 (385), 2+ (5075), 3 (160), 3+ (1755), 4 (48), 4+ (467), 5+ (65), >0 (24), >0+ (133), >1+ (74)                                                                                                                                                                                                                                                                                                                                                                                                    |
|213       |Pike             |Esox lucius                |974312       |51513         |0 (738), 0+ (9161), 1 (1378), 1+ (8875), 10 (22), 10+ (345), 11 (16), 11+ (128), 12+ (45), 13 (9), 13+ (15), 14+ (4), 2 (618), 2+ (6149), 3 (489), 3+ (5996), 4 (516), 4+ (5562), 5 (294), 5+ (4240), 6 (137), 6+ (3051), 7 (91), 7+ (1718), 8 (24), 8+ (1199), 9 (58), 9+ (627), >1+ (8)                                                                                                                                                                                                                                                                                                                        |477875                |14150                  |0 (7), 0+ (2301), 1 (247), 1+ (2633), 10 (6), 10+ (76), 11 (16), 11+ (26), 13 (9), 2 (180), 2+ (2078), 3 (231), 3+ (1350), 4 (269), 4+ (1380), 5 (167), 5+ (1212), 6 (47), 6+ (913), 7 (47), 7+ (431), 8 (14), 8+ (354), 9 (38), 9+ (118)                                                                                                                                                                                                                                                                                                            |
|182       |Common bream     |Abramis brama              |2087150      |42496         |0 (2492), 0+ (505), 1 (634), 1+ (3628), 10 (184), 10+ (903), 11 (230), 11+ (1199), 12 (153), 12+ (888), 13 (171), 13+ (630), 14 (66), 14+ (375), 15 (58), 15+ (342), 16 (9), 16+ (157), 17 (10), 17+ (60), 18 (8), 18+ (49), 19+ (22), 2 (1672), 2+ (5940), 20+ (9), 3 (1633), 3+ (5386), 4 (1630), 4+ (3448), 5 (1213), 5+ (2032), 6 (658), 6+ (1534), 7 (466), 7+ (1239), 8 (290), 8+ (1312), 9 (227), 9+ (1010), >10 (12), >9 (12)                                                                                                                                                                            |525605                |31135                  |0 (20), 0+ (370), 1 (574), 1+ (2346), 10 (151), 10+ (763), 11 (154), 11+ (966), 12 (75), 12+ (596), 13 (33), 13+ (424), 14 (18), 14+ (247), 15 (12), 15+ (235), 16+ (125), 17+ (39), 18+ (41), 19+ (22), 2 (1254), 2+ (4836), 3 (999), 3+ (4655), 4 (925), 4+ (2996), 5 (797), 5+ (1896), 6 (477), 6+ (1428), 7 (336), 7+ (1025), 8 (254), 8+ (1065), 9 (173), 9+ (784), >10 (12), >9 (12)                                                                                                                                                           |
|181       |Bleak            |Alburnus alburnus          |1812943      |38811         |0 (490), 0+ (1268), 1 (175), 1+ (10716), 2 (266), 2+ (15752), 3 (264), 3+ (7146), 4 (64), 4+ (2186), 5 (85), 5+ (314), 6+ (60), 7+ (25)                                                                                                                                                                                                                                                                                                                                                                                                                                                                          |1099305               |9183                   |0 (12), 0+ (933), 1+ (1652), 2+ (2880), 3 (14), 3+ (2298), 4 (13), 4+ (1116), 5 (52), 5+ (188), 6+ (14), 7+ (11)                                                                                                                                                                                                                                                                                                                                                                                                                                     |
|283       |Bullhead         |Cottus gobio               |1484688      |29561         |0 (2331), 0+ (12210), 1+ (136), 2 (10), >0 (4), >0+ (14870)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |1199197               |9105                   |0+ (5566), 1+ (5), >0+ (3534)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |

In [14]:
import pandas as pd
import re

result_pd = final_df.toPandas()

def sort_key(val):
    val = val.strip()
    match = re.match(r'([<>]?)(\d+)(\+?)', val)
    if not match:
        return (2, 0, '')  # Put unrecognized at the end
    sign, num, plus = match.groups()
    sign_order = {'<': 0, '': 1, '>': 2}
    return (sign_order.get(sign, 1), int(num), plus)

def sort_age_band_string(s):
    if pd.isnull(s):
        return ""
    # Split by comma, remove empty, and sort
    items = [v.strip() for v in s.split(",") if v.strip()]
    return ", ".join(sorted(items, key=lambda x: sort_key(x.split(" ")[0])))

result_pd["unique_AGE_BAND_values"] = result_pd["unique_AGE_BAND_values"].apply(sort_age_band_string)
result_pd["unique_AGE_BAND_values_2005plus"] = result_pd["unique_AGE_BAND_values_2005plus"].apply(sort_age_band_string)

result_pd.to_csv("outputs/species_aggregates.csv", index=False)